:root {
    --wd_chat: 1600px;
    --hg_chat: calc(var(--wd_chat)/1.7);
    --wd_gif: 130px;
    --hg_gif: calc(var(--wd_gif)/0.7);
    --left_m_gif: calc(var(--wd_chat) - 70px);
  }

#chat {
    margin-top: 100px;
    width: var(--wd_chat);
    height: var(--hg_chat);
    z-index: 0;
    background-color: rgba(60, 60, 60, 0.4);
    border-top: 10px solid rgb(151, 32, 13);
    border-left: 10px solid rgb(151, 32, 13);
    border-bottom: 10px solid #bd692b;
    border-right: 10px solid #bd692b;
    border-radius: 15px 50px 30px;
    overflow-y: auto; 
}

#chat::-webkit-scrollbar {
    display: none;
}

img.animated-gif {
    width: var(--wd_gif);
    height: var(--hg_gif);
    margin-left: var(--left_m_gif);
    margin-top: -110px;
    position: fixed; 
}

#chat > ul {
    list-style-type: none;
    list-style-position: outside;
    font-size: 15px;
}

#chat li {
    max-width: 300px;
    max-height: 200px;
    overflow-y: hidden;   
    overflow-wrap: break-word;
    margin-bottom: 5px;
    font-size: 15px;
}

#chat  blockquote {
    font-size: 15px;
}
