:root {
    --wd_chat: 1600px;
    --hg_chat: calc(var(--wd_chat)/1.7);
    --wd_gif: 265px;
    --hg_gif: calc(var(--wd_gif)/0.7);
    --left_m_gif: calc(var(--wd_chat) - 165px);
    --font_sz: 60px;
  }

#chat {
    margin-top: 100px;
    width: var(--wd_chat);
    height: var(--hg_chat);
    z-index: 0;
    background-color: rgba(60, 60, 60, 0.4);
    border-top: 10px solid rgb(151, 32, 13);
    border-left: 10px solid rgb(151, 32, 13);
    border-bottom: 10px solid #bd692b;
    border-right: 10px solid #bd692b;
    border-radius: 75px 250px 150px;
    overflow-y: auto; 
}

#chat::-webkit-scrollbar {
    display: none;
}

img.animated-gif {
    transform: rotate(35deg);
    width: var(--wd_gif);
    height: var(--hg_gif);
    margin-left: var(--left_m_gif);
    margin-top: -150px;
    position: fixed; 
}

#chat ul {
    list-style-type: none;
    list-style-position: outside;
}

#chat li {
    margin-top: 75px;
    margin-left: 45px;
    width: fit-content;
    height: fit-content;
    background-color: black;
    font-size: var(--font_sz);
    border-radius: 15px;
    padding: 4px;
}

#chat  blockquote {
    max-width: calc(var(--wd_chat) - 200px);
    max-height: 200px;
    overflow-y: hidden;   
    overflow-wrap: break-word;
    font-size: var(--font_sz);
}